* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#root {
  position: absolute;
  width: 640px;
  height: 360px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
